/* Custom CSS for table borders */
table.table-bordered {
    border: 3px solid black;
}

table.table-bordered th,
table.table-bordered td {
    border: 3px solid black;
    width: 500px;
    /* Adjust the width as needed */
    padding: 15px;
    /* Add padding for better readability */
}

/* Custom CSS for header styling */
header {
    background-color: #337ab7;
    /* Change the color as desired */
    color: white;
    /* Set text color to contrast */
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid black;
}

header h1 {
    margin-bottom: 0;
}

/* Custom CSS for table header */
table.table-bordered thead th {
    background-color: #337ab7;
    /* Change the color as desired */
    color: white;
    /* Set text color to contrast */
}

/* Custom CSS for Fetch Mill Details button */
#button-addon2 {
    background-color: #28a745;
    /* Change the color as desired */
    color: white;
    /* Set text color to contrast */
    border-color: #28a745;
    /* Change the border color to match */
}

/* Custom CSS for horizontal scrolling */
.table-scroll {
    overflow-x: auto;
    overflow-y: auto;
}

/* Custom CSS for Edit Modal */

/* Increase modal width */
.modal-content {
    width: 100%;
    
    /* Adjust as needed */
    margin: auto;
}

/* Add vertical scrolling */
.modal-body {
    max-height: 400px;
    /* Adjust as needed */
    overflow-y: auto;
}

/* Grid layout for edit fields */
.modal-body .form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns */
    grid-column-gap: 10px;
    /* Adjust as needed */
}

/* Optional: Adjust input width */
.form-control {
    width: 100%;
    /* Full width within grid cell */
}

/* Adjust modal footer position */
.modal-footer {
    justify-content: flex-end;
    /* Align buttons to the right */
}