.datepicker {
    max-width: 150px;
    margin: auto;
}

.folder-icon {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

#millFolders ul {
    list-style: none;
    padding-left: 0;
}

.roll-id-folder {
    margin-left: 20px;
}

.roll-id-folder img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.label-folder {
    margin-left: 20px;
}

.label-folder img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    margin: 5px;
    max-width: calc(100% / 8 - 20px);
    max-height: 250px;
}

.modal-xl {
    max-width: 60%;
    max-height: 60%;
}

.dashboard-link {
    font-size: 18px;
    text-decoration: none;
}

.dashboard-link:hover {
    color: #007bff;
}

.custom-dialog .modal-dialog {
    max-width: 40%;
}

.custom-dialog .modal-body {
    max-height: none;
}